<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .username }}'s Todo List</title>
  </head>
  <body>
    <h1>{{ .username }}'s Todo List</h1>
    <ul>
      {{ range $val := .tasks }}
      <li>{{ .task }}</li>
      {{ else }}
      <p>Task is empty</p>
      {{ end }}
    </ul>
    <a href="/task/add">Add task</a>
  </body>
</html>
