<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .message }}</title>
  </head>
  <body>
    <h1>{{ .message }}</h1>
    {{ if or (eq .message "Wrong Password or Username!") (eq .message "Register Success!") }}
    <a href="/login">Login</a>
    {{ else if (eq .message "You are not Logged in!") }}
    <a href="/register">Register</a>
    <br />
    <a href="/login">Login</a>
    {{ else if or (eq .message "Password Doesn't Match!") (eq .message "User Already Exist!") }}
    <a href="/register">Register</a>
    {{ else }}
    <a href="/">Home</a>
    {{ end }}
  </body>
</html>
